@charset "UTF-8";
/*Variables*/
* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1350px;
  background-color: #44b;
}

/*Header*/
header {
  background-color: #44b;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  /*Logo*/
  /*Search*/
  /*Navigation*/
}
header .logo {
  margin-right: 30px;
  margin-left: 5px;
}
header .logo img {
  border-radius: 50%;
  border: 2px solid white;
  width: 100px;
  height: 100px;
}
header .search form {
  display: flex;
  width: 300px;
  margin-right: 100px;
}
header .search input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7ba7ab;
  border-radius: 5px;
  outline: none;
  background: #f9f0da;
  color: #9e9c9c;
}
header .search button {
  border-radius: 50%;
  border: 2px solid white;
  background-color: #44b;
  color: white;
  font-size: 16px;
}
header .search button:hover {
  background-color: #ff3d00;
}
header .menu {
  flex-grow: 1;
}
header .menu ul {
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 30px;
  line-height: 18px;
}
header .menu li {
  margin-right: 20px;
}
header .menu li:last-child {
  margin-right: 0;
}
header .menu a {
  padding: 8px 10px;
}
header .menu a:hover {
  color: #fff;
  background-color: #ff3d00;
  border-radius: 8px;
}
header .menu a {
  color: #000;
  text-decoration: none;
}

/*Adaptive header*/
@media screen and (max-width: 1350px) {
  header {
    /*Logo*/
    /*Navigation*/
    /*Search*/
  }
  header .logo img {
    border-radius: 50%;
    border: 2px solid white;
    width: calc(50px + 50 * (100vw - 320px) / 1030);
    height: calc(50px + 50 * (100vw - 320px) / 1030);
  }
  header .menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: calc(15px + 15 * (100vw - 320px) / 1030);
    line-height: 18px;
  }
  header .menu li {
    margin-right: calc(10px + 10 * (100vw - 320px) / 1030);
  }
  header .search form {
    display: flex;
    width: calc(100px + 200 * (100vw - 320px) / 1030);
    margin-right: calc(50px + 50 * (100vw - 320px) / 1030);
  }
  header .search input {
    width: 100%;
    height: calc(22px + 20 * (100vw - 320px) / 1030);
    padding-left: 10px;
    border: 2px solid #7ba7ab;
    border-radius: 5px;
    outline: none;
    background: #f9f0da;
    color: #9e9c9c;
  }
}
/*calc(100px + (300 - 100) * ((100vw - 320px) / (1200 - 320)));*/
/*Poster One*/
.posterOne {
  display: flex;
}
.posterOne .one {
  width: 100%;
}
.posterOne .text {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 33ch;
  color: rgb(15, 210, 224);
  font-size: 50px;
  font-weight: 700;
  font-family: cursive;
  white-space: nowrap; /* не переносить текст на другую строку */
  overflow: hidden; /* скрываем переполнение контентом */
  border-right: 3px solid white; /* рисуем курсор */
  animation: cursor 1.2s step-end infinite, printed_text 5s steps(38);
  background-color: rgba(255, 7, 234, 0.3);
  border-radius: 5px;
}

/*Animation*/
@keyframes cursor {
  0% {
    border-color: white;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: white;
  }
}
@keyframes printed_text {
  from {
    width: 0;
  }
}
/*Adaptive Poster One*/
@media screen and (max-width: 1350px) {
  .posterOne .text {
    top: calc(100px + 100 * (100vw - 320px) / 1030);
    left: calc(5px + 195 * (100vw - 320px) / 1030);
    font-size: calc(10px + 40 * (100vw - 320px) / 1030);
  }
}
/*New Films*/
.newMovies {
  width: 100%;
}
.newMovies h2 {
  font-size: 30px;
  text-align: center;
  color: white;
  margin-top: 1%;
}
.newMovies .flexNewMovies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
}
.newMovies .flexNewMovies .movies {
  width: 220px;
  height: 280px;
}
.newMovies .flexNewMovies .movies .newFilms {
  width: 220px;
  height: 280px;
  border-radius: 20px;
}
.newMovies .flexNewMovies .movies .nameFilms {
  color: white;
  font-size: 14px;
}
.newMovies .flexNewMovies .movies .dateFilms {
  color: white;
  font-size: 14px;
}

/*Adaptive New Films*/
/*Popular TV shows*/
.series {
  margin-top: 50px;
}
.series h2 {
  font-size: 30px;
  text-align: center;
  color: white;
  margin-top: 1%;
}
.series .gridTvShow {
  display: grid;
  grid-template-columns: repeat(6, [col] 1fr);
  grid-template-rows: repeat(3, [row] 1fr);
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  grid-column-gap: 15px;
  margin-top: 2%;
}
.series .gridTvShow .grid-item {
  min-height: 200px;
  border: 5px;
}
.series .gridTvShow .grid-item1 {
  grid-column: span 2;
  width: 420px;
  height: 280px;
}
.series .gridTvShow .grid-item1 .oneImg {
  width: 420px;
  height: 280px;
}
.series .gridTvShow .grid-item2 {
  grid-column: col 3/col 5;
  grid-row: row 1/row 3;
  width: 395px;
  height: 560px;
}
.series .gridTvShow .grid-item2 .twoImg {
  width: 395px;
  height: 560px;
}
.series .gridTvShow .grid-item3 {
  grid-column: col 5/col 6;
  grid-row: row 1/row 3;
  width: 300px;
  height: 500px;
}
.series .gridTvShow .grid-item3 .threeImg {
  width: 300px;
  height: 500px;
}
.series .gridTvShow .grid-item5 .fiveImg {
  width: 200px;
  height: 280px;
}
.series .gridTvShow .grid-item6 .sixImg {
  width: 200px;
}
.series .gridTvShow .grid-item9 {
  grid-column: col 2/col 4;
}
.series .gridTvShow .grid-item10 {
  grid-column: col 4/col 6;
}

/*Adaptive Popular TV shows*/
/*Most awaited TV series*/
.banerVideo h2 {
  font-size: 30px;
  text-align: center;
  color: white;
  margin-top: 1%;
}
.banerVideo .banerVideoFlex {
  display: flex;
  justify-content: center;
}

/*Adaptive Most awaited TV series*/
/*Review*/
.review h2 {
  font-size: 30px;
  text-align: center;
  color: white;
  margin-top: 1%;
}

/*Adaptive Review*/
img {
  border: 2px solid white;
}/*# sourceMappingURL=style.css.map */