* {
  padding: 0;
  margin: 0;
}
header {
  background-color: rgb(99, 99, 248);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  .logo {
    margin-right: 30px;
  }
  .search form {
    position: relative;
    width: 280px;
    margin: 0 auto;
    margin-right: 10%;
  }
  .search input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #7ba7ab;
    border-radius: 5px;
    outline: none;
    background: #f9f0da;
    color: #9e9c9c;
  }
  .search button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 42px;
    height: 42px;
    border: none;
    background: #7ba7ab;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  .search button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #f9f0da;
  }
  .menu {
    flex-grow: 1;
  }
  .menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;

    font-size: 30px;
    line-height: 18px;
  }
  .menu li {
    margin-right: 20px;
  }
  .menu li:last-child {
    margin-right: 0;
  }
  .menu a {
    padding: 8px 10px;
  }
  .menu a:hover {
    color: #fff;
    background-color: #ff3d00;
    border-radius: 8px;
  }
  .menu a {
    color: #000;
    text-decoration: none;
  }
}
.posterOne {
  display: flex;
  .one {
    width: 100%;
  }
}
@media screen and (max-width: 1350px) {
  .one {
    width: 1350px;
  }
}
